# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Stripe ключи для долларовых товаров
STRIPE_PUBLIC_KEY_USD=pk_test_xxx
STRIPE_SECRET_KEY_USD=sk_test_xxx

# Stripe ключи для евровых товаров
STRIPE_PUBLIC_KEY_EUR=pk_test_xxx
STRIPE_SECRET_KEY_EUR=sk_test_xxx
